[Unit]
Description=Regular Update of Cloudflare DNS records
Wants=network.target
After=network.target

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
Unit=cfddns.service

[Install]
WantedBy=timers.target
